### Итоговое задание

In [1]:
years = list(map(str, range(1950, 2011)))


def production_year(title: str) -> int:
    for year in years:
        if year in title:
            return int(year)
    
    return 1900

In [2]:
import pandas as pd
from pathlib import Path


BASE_DIR = Path('/home/jovyan/work/homework') 
MOVIES_PATH = BASE_DIR / 'data/movies_stats.csv'

movies_df = pd.read_csv(MOVIES_PATH)
movies_df.head()

,userId,movieId,rating,timestamp,title,genres
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama

In [3]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    100004 non-null  int64
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  int64
 4   title      100004 non-null  object
 5   genres     100004 non-null  object
dtypes: float64(1), int64(3), object(2)
memory usage: 4.6+ MB

In [4]:
movies_df['year'] = movies_df['title'].apply(production_year)
movies_df.head()

,userId,movieId,rating,timestamp,title,genres,year
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,1995
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical,1900
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller,1996
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller,1981
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama,1989

In [5]:
rating_vs_year = movies_df.groupby('year')['rating'].mean()
rating_vs_year.sort_values(ascending=False, inplace=True)

rating_vs_year

year
1957    4.014241
1972    4.011136
1952    4.000000
1954    3.994220
1951    3.983539
          ...
2005    3.448434
2003    3.444777
1996    3.426600
1997    3.415764
2000    3.356104
Name: rating, Length: 62, dtype: float64